@import 'utils';

.input {
  width: 100%;
  padding: 1rem;
  height: pxToRem(50);
  margin-top: 2rem;
  border: 1px solid lightgrey;
  border-radius: pxToRem(4);
  font-size: pxToRem(18);

  &:focus {
    outline: none;
    border-color: #181818;
  }

  &-error {
    font-size: pxToRem(14);
    color: darkred;
  }
}
